body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #212529;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: large;
  text-decoration: underline;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: white;
  height: 2px;
}

.container {
  padding: 30px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.navbar-toggler {
  background-color: white; 
}

.gallery-grid {
  padding-left: 40px;
  padding-right: 40px;
}

.gallery-img {
  float: left;
  width:  350px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

.gallery-title {
  text-align: center;
}

.btn-primary {
  background-color: black;
  color: white;
  border-color: white;
}

.btn-primary:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.bi:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal-dialog.wider {
    max-width: 1200px; 
  }
}