---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import BoardGallery from "../components/board_gallery.astro";
import BoardModals from "../components/board_modals.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>CBWS | The Board</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <Header />
    <div class="container bg-black d-flex flex-wrap">
      <h1>The Board</h1>
      <hr />
      <p>
        <i>
          We the Founders and Board of Advisors of the Cowtown Birthplace of
          Western Swing are dedicated to the promotion, preservation and
          heritage of this great genre that was pioneered and developed by the
          Legends "King" Bob Wills and "Father" Milton Brown during their
          formative years of 1929 to 1936 in Fort Worth "Cowtown" Texas. This
          early development of what would become Western Swing is defined as a
          musical melting pot that represents a diverse group of talented
          musicians who contributed to the creation, growth and prosperity of
          our beloved dance music and distinctive Western way of life that has
          flourished here in Cowtown for well over a century, and is indeed a
          fitting legacy for our rich cultural heritage that is shared by
          everyone who loves Western Swing. We aim to grow the awareness and
          love of this great music to a younger generation who can embrace the
          genre and insure that it lives on for many decades to come. Lastly,
          our end goal is to eventually build a Birthplace of Western Swing
          Museum here in Fort Worth that showcases the many past Legends of
          Western Swing.
        </i>
      </p>
      <hr />
      <BoardGallery />
    </div>
    <BoardModals />
    <Footer />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
      crossorigin="anonymous"
    ></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
