<div class="container-md">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="text-align: center;">
      <div class="carousel-item  active" data-bs-interval="10000">
        <img
          src="https://cbws.s3.us-east-2.amazonaws.com/images/festival/FestivalBanner.png"
          class="d-block w-100"
          alt="Festival Banner"
        />
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img
          src="https://cbws.s3.us-east-2.amazonaws.com/images/festival/StockyardsTourBanner.png"
          class="d-block w-75"
          alt="Stockyards Tour Banner"
        />
      </div>
    </div>
  </div>
</div>
